.header {
    width: 100%;
    height: 80px;

    background-color: black;

    display: flex;
    flex-direction: row;
    align-content: center;

    &__title {
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        color: #FFFFFF;

        .pi{
            font-size: 2rem;
        }
    }
}